meta(charset='utf8')
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
title Arepa Sports, Daniela Moreno Pulido, Arepa Sports youtube
link(rel='stylesheet', href='#{baseUrl}/css/global.css')
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro')
script(src='#{baseUrl}/js/jquery/jquery.min.js')
script(src='#{baseUrl}/js/bootstrap/bootstrap.js')